<div class=" tweets">

    <% (1..15).each do |x| %>
      <!-- per tweet -->
      <div class="box-widget" data-aos="fade-right">
        <div class="box-footer box-comments">
          <div class="box-comment">
            <!-- User image -->
            <%= image_tag "home_title", class: "img-circle" %>

            <div class="comment-text">
              <span class="username">
                Maria Gonzales
                <span class="text-muted pull-right">8:03 PM Today</span>
              </span><!-- /.username -->
              It is a long established fact that a reader will be distracted
              by the readable content of a page when looking at its layout.
            </div>
            <!-- /.comment-text -->
          </div>
          <button type="button" class="btn btn-default btn-xs"><i class="fa fa-thumbs-o-up"></i> Like</button>
          <!-- /.box-comment -->
        </div>
      </div>
      <!-- per tweet -->
    <% end %>

</div>

<div class=" tweets">

    <% @tweets.each do |tweet| %>
      <!-- per tweet -->
      <div class="box-widget" data-aos="fade-right">
        <div class="box-footer box-comments">
          <div class="box-comment">
            <!-- User image -->
            <%= image_tag tweet.smaspi_image, class: "img-circle" %>
            <div class="comment-text">
              <span class="username">
                <%= tweet.smaspi_name %>
                <span class="text-muted pull-right"><%= tweet.created_at %></span>
              </span><!-- /.username -->
              <%= tweet.content %>
            </div>
            <!-- /.comment-text -->
          </div>
          <button type="button" class="btn btn-default btn-xs"><i class="fa fa-thumbs-o-up"></i> Like</button>
          <!-- /.box-comment -->
        </div>
      </div>
      <!-- per tweet -->
    <% end %>

</div>
