
<div class="method_title">
  <h3 class="box-title">Alexaでのつぶやきかた</h3>
</div>
<!-- /.box-header -->
<div class="chat_box">
<%= render "conversation_left", name: @left_name, image_path: @left_image_path, conversation_content: "アレクサ、スマスピの世界を開いて！！" %>

<%= render "conversation_right", name: @right_name, image_path: @right_image_path, conversation_content: "スマートスピーカーの世界へようこそ。あなたのつぶやきがスマートスピーカーのつぶやきとなります。
つぶやきをどうぞ。" %>

    <%= render "conversation_left", name: @left_name, image_path: @left_image_path, conversation_content: "今日はカレーを食べた。" %>

    <%= render "conversation_right", name: @right_name, image_path: @right_image_path, conversation_content: "つぶやきました。投稿した内容は公式ホームページから見ることができます。" %>

    <div class="link_to_tweet">
    <%= link_to "つぶやきをのぞく >>", tweets_path, class: "btn btn-info" %>
    </div>


</div>
